@use 'abstract/typographie';
@use 'layouts/layouts.scss';

html, body {
  margin: 0;

  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.page {
  grid-area: content;

  overflow: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

td, table {
  width: 100%;
}