@use 'abstract/typographie' as typographie;
@use 'layouts/layouts.scss' as layout;

html, body {
  margin: 0;

  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.page {
  grid-area: content;

  overflow: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}